[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/oh-my-zsh-powerline-theme"]
	path = zsh/oh-my-zsh-powerline-theme
	url = git@github.com:jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/spf13-vim"]
	path = vim/spf13-vim
	url = git@github.com:spf13/spf13-vim.git
[submodule "scripts/collection/pdf2cymk/bash-scripts"]
	path = scripts/collection/pdf2cymk/bash-scripts
	url = git@github.com:rainnic/bash-scripts.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:gpakosz/.tmux.git
