[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/oh-my-zsh-powerline-theme"]
	path = zsh/oh-my-zsh-powerline-theme
	url = git@github.com:jeremyFreeAgent/oh-my-zsh-powerline-theme.git
